{
  "logging": false,
  "log_level": "error",
  "show_line_detection": false,
  "route_line_color": [0, 0.7058824, 1, 0.92],
  "foot_route_line_color": [0, 0.7058824, 1, 0.92],
  "vehicle_route_line_color": [0, 0.7058824, 1, 0.92],
  "indoor_route": true,
  "indoor_autowalk": false,
  "use_subway": true,
  "base_taxi_multiplier": 2
}
